<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta de Adicción a Redes Sociales</title>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body>

    <form action="" method="post" id="quizForm" class="container mx-auto p-5">

        <!-- Rama 3: Obsesión -->
        <section class="column" id="obsession">
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h2 class="text-xl font-bold mb-4">Obsesión por estar informado</h2>

                    <!-- Pregunta 1 -->
                    <h3 class="font-bold text-lg mb-2">¿Sientes que debes estar conectado para no perderte de algo
                        importante?
                    </h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q1-O1" type="radio" value="1" name="Q1"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q1-O1" class="ms-2 text-sm font-medium text-gray-900">No, no me preocupa</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q1-O2" type="radio" value="2" name="Q1"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q1-O2" class="ms-2 text-sm font-medium text-gray-900">A veces lo siento</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q1-O3" type="radio" value="3" name="Q1"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q1-O3" class="ms-2 text-sm font-medium text-gray-900">Sí, suelo sentirlo
                            constantemente</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Revisas tus redes sociales incluso cuando estás en reuniones o
                        con
                        amigos?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q2-O1" type="radio" value="1" name="Q2"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q2-O1" class="ms-2 text-sm font-medium text-gray-900">No, respeto esos
                            momentos</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q2-O2" type="radio" value="2" name="Q2"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q2-O2" class="ms-2 text-sm font-medium text-gray-900">A veces, pero trato de
                            evitarlo</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q2-O3" type="radio" value="3" name="Q2"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q2-O3" class="ms-2 text-sm font-medium text-gray-900">Sí, lo hago
                            frecuentemente</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Has dejado de hacer tareas importantes por estar en redes?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q3-O1" type="radio" value="1" name="Q3"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q3-O1" class="ms-2 text-sm font-medium text-gray-900">No, siempre cumplo con mis
                            tareas</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q3-O2" type="radio" value="3" name="Q3"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q3-O2" class="ms-2 text-sm font-medium text-gray-900">Sí, varias veces</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 4 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Cómo reaccionas cuando te piden reducir tu tiempo en redes?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q4-O1" type="radio" value="1" name="Q4"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q4-O1" class="ms-2 text-sm font-medium text-gray-900">Lo entiendo y trato de
                            hacerlo</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q4-O2" type="radio" value="2" name="Q4"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q4-O2" class="ms-2 text-sm font-medium text-gray-900">Me molesta un poco, pero lo
                            acepto</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q4-O3" type="radio" value="3" name="Q4"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q4-O3" class="ms-2 text-sm font-medium text-gray-900">Me incomoda y no veo por qué
                            debería
                            reducirlo</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 5 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Consideras importante la opinión externa acerca de la necesidad
                        de
                        reducir el tiempo que pasas en redes?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q5-O1" type="radio" value="3" name="Q5"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q5-O1" class="ms-2 text-sm font-medium text-gray-900">Sí, pienso que buscan mi
                            bienestar</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q5-O2" type="radio" value="1" name="Q5"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q5-O2" class="ms-2 text-sm font-medium text-gray-900">No, no deberían intervenir en
                            lo que
                            quiero hacer</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 6 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Cómo cambiaría tu vida si dejaras de usar redes por completo?
                    </h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q6-O1" type="radio" value="1" name="Q6"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q6-O1" class="ms-2 text-sm font-medium text-gray-900">No cambiaría mucho</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q6-O2" type="radio" value="2" name="Q6"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q6-O2" class="ms-2 text-sm font-medium text-gray-900">Me costaría adaptarme pero lo
                            lograría</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q6-O3" type="radio" value="3" name="Q6"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q6-O3" class="ms-2 text-sm font-medium text-gray-900">Sería un cambio muy drástico,
                            no
                            puedo imaginarlo</label>
                    </div>
                </div>
            </div>
        </section>


        <div class="max-w-md mx-auto text-center">

            <button type="submit"
                class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Guardar
                y continuar
            </button>

        </div>




    </form>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>

        document.getElementById('quizForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let totalScore = 0;


            // Aqui se coloca el valor del atributo "name" de cada etiqueta "input" del html
            const questions = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6'];

            const maxPoints = questions.length * 3;


            questions.forEach(q => {
                const selectedOption = document.querySelector(`input[name="${q}"]:checked`);

                if (selectedOption) {
                    totalScore += parseInt(selectedOption.value);
                }
            });

            //Cambiar el nombre del objeto "Necesidad" por el que haga referencia al tema de su formulario
            const obsesion = totalScore;
            const porcentajeObsesion = parseInt(((totalScore / maxPoints) * 100));

            console.log(obsesion)
            console.log(porcentajeObsesion)

            sessionStorage.setItem('porcentajeObsesion', porcentajeObsesion);

            // Aqui se redirije a la siguiente pestaña
            window.location.href = './Necesidad_Por_Estar_Conectado.html';


        });

    </script>
</body>

</html>