<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta de Adicción a Redes Sociales</title>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body>

    <form action="" method="post" id="quizForm" class="container mx-auto p-5">

        <!-- Rama 2: Problemas -->
        <section id="problems">
            <!-- Pregunta 1 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Prefieres interactuar con tus amigos en redes sociales en lugar
                        de
                        hacerlo en persona?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q1-O1" type="radio" value="1" name="Q1"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q1-O1" class="ms-2 text-sm font-medium text-gray-900">No, prefiero hablar en
                            persona</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q1-O2" type="radio" value="2" name="Q1"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q1-O2" class="ms-2 text-sm font-medium text-gray-900">A veces uso redes, pero
                            también en
                            persona</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q1-O3" type="radio" value="3" name="Q1"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q1-O3" class="ms-2 text-sm font-medium text-gray-900">Prefiero más la interacción
                            por
                            redes</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 2 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Consideras que es algo positivo en tu vida el no ser dependiente
                        de las
                        redes?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q2-O1" type="radio" value="1" name="Q2"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q2-O1" class="ms-2 text-sm font-medium text-gray-900">Me es indiferente</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q2-O2" type="radio" value="3" name="Q2"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q2-O2" class="ms-2 text-sm font-medium text-gray-900">Me parece un aspecto sumamente
                            positivo</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Alguna vez te has quedado despierto más tarde de lo planeado por
                        estar
                        en redes sociales?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q3-O1" type="radio" value="3" name="Q3"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q3-O1" class="ms-2 text-sm font-medium text-gray-900">Sí</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q3-O2" type="radio" value="1" name="Q3"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q3-O2" class="ms-2 text-sm font-medium text-gray-900">No</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 4 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿El uso de redes afecta tus estudios, trabajo u otras
                        responsabilidades?
                    </h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q4-O1" type="radio" value="1" name="Q4"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q4-O1" class="ms-2 text-sm font-medium text-gray-900">No me afecta</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q4-O2" type="radio" value="2" name="Q4"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q4-O2" class="ms-2 text-sm font-medium text-gray-900">A veces</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q4-O3" type="radio" value="3" name="Q4"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q4-O3" class="ms-2 text-sm font-medium text-gray-900">Sí, frecuentemente</label>
                    </div>
                </div>
            </div>

            <!-- Pregunta 5 -->
            <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6">
                <div class="px-6 py-4">
                    <h3 class="font-bold text-lg mb-2">¿Te cuesta dejar de usar las redes cuando lo intentas?</h3>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q5-O1" type="radio" value="1" name="Q5"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q5-O1" class="ms-2 text-sm font-medium text-gray-900">No, me es fácil</label>
                    </div>
                    <div class="flex items-center me-4 my-2">
                        <input id="Q5-O2" type="radio" value="3" name="Q5"
                            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500">
                        <label for="Q5-O2" class="ms-2 text-sm font-medium text-gray-900">Sí, me cuesta
                            desprenderme</label>
                    </div>
                </div>
            </div>

        </section>

        <div class="max-w-md mx-auto text-center">

            <button type="submit"
                class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Guardar
                y continuar
            </button>

        </div>




    </form>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>

        document.getElementById('quizForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let totalScore = 0;


            // Aqui se coloca el valor del atributo "name" de cada etiqueta "input" del html
            const questions = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5'];

            const maxPoints = questions.length * 3;


            questions.forEach(q => {
                const selectedOption = document.querySelector(`input[name="${q}"]:checked`);

                if (selectedOption) {
                    totalScore += parseInt(selectedOption.value);
                }
            });

            //Cambiar el nombre del objeto "Necesidad" por el que haga referencia al tema de su formulario
            const problemas = totalScore;
            const porcentajeProblemas = parseInt(((totalScore / maxPoints) * 100));

            console.log(problemas)
            console.log(porcentajeProblemas)

            sessionStorage.setItem('porcentajeProblemas', porcentajeProblemas);

            // Aqui se redirije a la siguiente pestaña
            window.location.href = './Rama3.html';


        });

    </script>
</body>

</html>